<!doctype html>
<title>jumble.pkt5</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="header">
  <h1>jumble.pkt5</h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
</div>

<div class="pallet">{% block pallet %}{% endblock %}</div>
<div class="nav">{% block nav %}{% endblock %}</div>
<div class="layoutcanvas">{% block layoutcanvas %}{% endblock %}</div>
