.header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}
.pallet {
	background-color: #eeeeee;
	height: 550px;
	width: 200px;
	float: left;
	padding: 5px; 
}
.nav {
	background-color: blue;
	color: white;
	text-align: center;
	padding: 5px;
}
.layoutcanvas {
	background-color: yellow;
	color: black;
	text-align: center;
	padding: 5px;
	height: 520px;
}